    <div class="row">
                    <div class="col-lg-6">
                        <h2>Security Details</h2>
                        <div class="table-responsive">
                            <table class="table table-bordered table-hover table-striped">
                                <thead>
                                    <tr>
                                        <th>Issue By</th>
                                        <th>Issue Size</th>
                                        <th>Issue Price</th>
                                        <th>Issue Date</th>
                                        
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr class="active">
                                        <td>/index.html</td>
                                        <td>1265</td>
                                        <td>/index.html</td>
                                        <td>1265</td>
                                        
                                       
                                    </tr>
                                    
                                </tbody>
                            </table>
                        </div>
                    </div>
                    
                </div>